<!DOCTYPE html>
<html>
  <head>
    <title>Fan Zhang Ruby on Rails | Home</title>
  </head>
  <body>
    <h1>Sample App</h1>
	<p>
 	 This is the home page for Fan
  	<a href="http://zhangfan.me/">The website of Fan Zhang</a>
 	 sample application
	 </p>
  </body>
</html>
